*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "sora", sans-serif;
    font-size: 1.6rem;
}
/* =============================================COMMON======================================================== */
/* =============================================COMMON======================================================== */
/* =============================================COMMON======================================================== */
a{
    text-decoration: none;
}
/* ===========BOX=========== */
.box{
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left:auto;
    margin-right: auto;
}
/* ============LINE CLAMP============ */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 4 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ============HEADING============ */
.h70px-w{
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%; /* 114.286% */
    letter-spacing: -1.4px;    
}
.h50px-b{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%; /* 120% */
    letter-spacing: -1px;    
}
.h50px-w{
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%; /* 120% */
    letter-spacing: -1px;
}
.h26px-b{
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%; /* 138.462% */
}
.h18px-b{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}
.h16px-b{
    color: #10375C;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%; /* 175% */
}
/* ========== p ========== */
.p18px-w{
    color: #C9D2DA;
    font-size: 18px;
    font-weight: 300;
    line-height: 166.667%; /* 166.667% */
}
.p18px-b{
    color: #575F66;
    font-size: 18px;
    font-weight: 300;
    line-height: 166.667%; /* 166.667% */
}
.p16px-b{
    color: #575F66;
    font-size: 16px;
    font-weight: 300;
    line-height: 175%; /* 175% */
}
.p14px-b{
    color: #575F66;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 185.714%; /* 185.714% */
}
/* ==========BTN========== */
.btn:hover{
    opacity: 0.8;

}
.btn{
    border-radius: 22px;
    background: #2E80CE;
    border: none;
}
.btn-205px{
    border-radius: 30px;
    background: #2E80CE;
    width: 205px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}



/* ===================================================HEADER==================================================== */
/* ===================================================HEADER==================================================== */
/* ===================================================HEADER==================================================== */
.box-header-hero{
    background: #10375C;
    width: 100vw;
    height: 100vh;
}

.header{
    padding-top: 36px;
    padding-bottom:84px ;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    gap: 6px;
    align-items: center;
}

.header__logo .text-top{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px; /* 77.778% */
}
.header__logo .text-bottom{
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
}
/* =============MENU============ */
.header__menu{
    display: flex;
    gap: 42px;
    align-items: center;
}
.header a{
    color: #C9D2DA;
    font-weight: 300;
    line-height: 175%; /* 175% */
}
.header a:hover{
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}
.header__menu--home{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__menu--home .dot{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}
/* ==========button============ */
.header__button .btn{
    width: 104px;
    height: 44px;
    color: #FFF;
    font-weight: 400;
    line-height: 175%; /* 175% */
    margin-left: 28px;
    text-align: center;
    font-size: 16px;
}
/* ===================================================HERO==================================================== */
/* ===================================================HERO==================================================== */

.hero{
    margin-top: px;
    display: flex;
}
.hero__texts .h70px-w{
    width: 63%;
    margin-top: 60px;
}
/* ==========TEXTS========= */
.hero__texts .p18px-w{
    margin-top: 22px;
    margin-bottom: 32px;
    width: 59%;
}
.hero__texts--button{
    display: flex;
    align-items: center;
    gap: 38px;
}


.hero__texts--button .or-call
{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
}
/* ==========IMG=========== */
.hero__img{
    display: flex;
    position: relative;
    width: 65%;
}
.hero__img--top{
    position: absolute;
    left: 0;
    top: 0;
}
.hero__img--bottom{
    margin-left: 324px;
    width: 210px;
    height: 410px;
    margin-top: 65px;
}
/* ===================================================SERVICES==================================================== */
/* ===================================================SERVICES==================================================== */

.services{
    padding-top: 170px;
    padding-bottom: 170px;
}

.services__text{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}
.services__text .h50px-b{
    margin-bottom: 18px;
}
.services__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*=============IMG============*/

.services__img{
    border-radius: 12px;
    background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
    width: 570px;
    height: 570px;
    flex-shrink: 0;
}
/* ============SERVICES__LIST========== */
.services__list{
    width: 40.1%;
}

.services__list--card{
    display: flex;
    align-items: center;
    height: 128px;
}
.services__list--tooth-box{
    width: 60px;
    height: 60px;
    background-color:#EFF6FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 19px;
    margin-left: 22px;
    transition: 0.5s;
}
.services__list .btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.67%; /* 166.667% */
    margin-top: 55px;
}
.services__list--card:hover{
    position: relative;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.services__list--card:hover .services__list--tooth-box{
    color: #fff;
    background: #2E80CE;
    transition: 0.5s;
}
/* ===================================================SERVICES==================================================== */
/* ===================================================SERVICES==================================================== */
.box-works{
    width: 100%vh;
    background: #F6FBFF;

}

.works__text{
    width: 41%;
    padding-top: 100px;
}
.works__text .h50px-b{
    margin-bottom: 18px;
}


.works__list{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 30px;
    margin-top: 70px;
}
.works__list--card{
    border-radius: 4px;
    background: #FFF;
    height: 370px;
    padding: 42px;
    border: 16px solid #EAF6FF ;
    transition: 0.3s;
}
.works__list--card:hover{
    border:16px solid #2E80CE;
    margin-top: -16px;
    transition: 0.3s;    
    /* transform: translateY(-16px); */
}
.works__list--card .h26px-b{
    margin-top: 18px;
    margin-bottom: 28px;
}
.works__list--card a{
    margin-top: 18px;
    display: inline-block;
    color: #575F66;
}
.works__list--card:hover a{
    color: #2E80CE;
}
/*===============ABOUT===================ABOUT===================ABOUT===================ABOUT==== */
/*===============ABOUT===================ABOUT===================ABOUT===================ABOUT==== */
/*===============ABOUT===================ABOUT===================ABOUT===================ABOUT==== */
.about{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* padding: 170px 0; */
    margin: 170px 0;
}
.about__img--on{
    position: absolute;
    top: 121px;
    left: 238px;
}

.about__text .p18px-b{
    margin-top: 18px;
    margin-bottom: 38px;
}
/*===============TEAM===================TEAM===================TEAM===================TEAM==== */
/*===============TEAM===================TEAM===================TEAM===================TEAM==== */
/*===============TEAM===================TEAM===================TEAM===================TEAM==== */
.team{
    padding-bottom: 170px;
}
.team__text{
    text-align: center;
}
.team__text .btn-205px{
    margin-top: 38px;
    margin-bottom: 70px;
}
.team__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.team__cards--img{
    background: #EAF6FF; 
    overflow: hidden;
    padding-top: 15px;
    border-radius: 6px;

}
.team__cards--img img{
    transition: 0.5s;    
}
.team__cards--card:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.team__cards--card .h16px-b{
    margin-top: 12px;
}

.team__arrows{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 38px;
}

.team__arrows--box{
    border-radius: 36px;
    border: 1px solid #575F66;
    width: 36px;
    flex-shrink: 0;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.team__arrows--box:hover{
    color: #fff;
    background-color: #2E80CE;
    transition: 0.5s;
}